<!DOCTYPE html>
<html lang="fr">
<head>
<title><?= $title ?></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="public/layout/styles/layout.css" rel="stylesheet" type="text/css" media="all">
<link rel="icon" type="image/ico" href="public/images/favicon.ico" />
</head>
<body id="top">
<div class="bgded overlay" style="background-image:url('');"> 
  <div class="wrapper row1">
    <header id="header" class="hoc clear">      
      <div id="logo" class="fl_left">
        <h1><a href="index.php">Pense le monde</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="index.php">Home</a></li>
          <li><a class="drop" href="#">Idée</a>
            <ul>
              <li><a href="index.php?action=listeworld">Planete</a></li>
              <li><a href="index.php?action=listeentreprise">Entreprise</a></li>
              <li><a href="index.php?action=listepolitique">Politique</a></li>
              <li><a href="index.php?action=listestory">Scenario : films/roman</a></li>
              <li><a href="index.php?action=acctheme">theme du jour</a></li>
            </ul>
          </li>
          <?php
            if (isset($_SESSION['pseudo']) OR (isset($_COOKIE['pseudo'])))
            {          
            ?>
            <li class="">
              <a class="" href="index.php?action=deconexion">Se deconnecter</a>
            </li>
            <?php
            }else{
            ?>
            <li class="">
              <a class="" href="view/frontend/loginView.php">S'identifier</a>
            </li>
            <?php
            } 
            ?>

            <?php
            if ((isset($_SESSION['pseudo'])) && ($_SESSION['pseudo'] == 'admin'))
            {          
            ?>
            <li class="nav-item">
              <a class="nav-link" href="index.php?action=adminaccess">Back office</a>
            </li>
            <?php
            }
            ?>

            <?php
            if ((isset($_SESSION['pseudo'])) && ($_SESSION['pseudo'] !== 'admin'))
            {          
            ?>
            <li class="nav-item">
              <a class="nav-link" href="index.php?action=useraccess">mon espace</a>
            </li>
            <?php
            }
            ?>

            <?php
            if ((isset($_COOKIE['pseudo'])) && ($_COOKIE['pseudo'] == 'admin'))
            {          
            ?>
            <li class="nav-item">
              <a class="nav-link" href="index.php?action=adminaccess">Back office</a>
            </li>
            <?php
            }
            ?>            
        </ul>
      </nav>      
    </header>
  </div>
  
<!-- ########################################################### -->
  <div><?= $content ?></div>
<!-- ########################################################### -->

<div class="wrapper row4 bgded overlay" style="background-image:url('public/images/demo/backgrounds/etoile.jpg');">
  <footer id="footer" class="hoc clear">     
    <div class="one_third first">
      <h6 class="heading">Pense le monde</h6>
      <p>Nullam quis ligula elementum lectus varius aliquet vivamus odio donec metus libero semper quis suscipit ut aliquam a metus integer.</p>
      <p class="btmspace-50">Pretium curabitur magna odio laoreet eu accumsan vitae gravida quis odio.</p>
      <nav>
        <ul class="nospace">
          <li><a href="index.html"><i class="fa fa-lg fa-home"></i></a></li>
          <li><a href="#">A propos</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Termes</a></li>
          <li><a href="#">vie privé</a></li>
          <li><a href="#">Cookies</a></li>
        </ul>
      </nav>
    </div>
    <div class="one_third">
      <h6 class="heading">Me contacter</h6>
      <ul class="nospace btmspace-30 linklist contact">
        
        <li><i class="fa fa-phone"></i> +33 612345689</li>
        <li><i class="fa fa-fax"></i> +33 612345689</li>
        <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
      </ul>
      <ul class="faico clear">
        <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
        <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
      </ul>
    </div>
    <div class="one_third">
      <h6 class="heading">Lorem ipsum</h6>
      <article><a href="#"><img class="btmspace-15" src="" alt=""></a>
        <h6 class="nospace font-x1"><a href="#">Velit pellentesque</a></h6>
        <time class="font-xs block btmspace-10" datetime="2045-04-05">Thursday, 5<sup>th</sup> April 2045</time>
        <p class="nospace">Eget nisl mauris placerat mauris a semper posuere sem arcu cursus felis non cursus enim odio in maecenas ut justo [&hellip;]</p>
      </article>
    </div>
  </footer>
</div>
<div class="wrapper row5">
  <div id="copyright" class="hoc clear"> 
    <p class="fl_left">Copyright &copy; 2019 - All Rights Reserved - <a href="#">Projet DWJ 2019</a></p>
    <!-- <p class="fl_right">Template by <a target="_blank" href="http://www.os-templates.com/" title="Free Website Templates">OS Template</a></p> -->
  </div>
</div>
<a id="backtotop" href="#top"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="public/layout/scripts/jquery.min.js"></script>
<script src="public/layout/scripts/jquery.backtotop.js"></script>
<script src="public/layout/scripts/jquery.mobilemenu.js"></script>
</body>
</html>