


<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><?= $title ?></title>

    <!-- Bootstrap core CSS -->
    <link href="public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="public/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="public/css/clean-blog.min.css" rel="stylesheet">

  </head>

  <body>

<center><h3 style="margin-top: 20px">wikipedia search</h3></center>

<hr>

<div class="col-lg-12" id="div">
<center>

  <input type="text" id="fetch" style="border: 1px solid #a0a0a0; padding:5px;" placeholder="Enter Keyword" />
  <button type="submit" class="btn btn-primary ml-2 p-1"  onclick="search()"> search </button>
   <hr> 

</center>
</div>

<div class="col-lg-12" id="div" >
<div id="showdata" >
   <h5 class="mt-2 text-center">
   Search Results
 </h5>
  <hr>
  <center>
 <div class="text-center col-lg-8 " style=" max-height: 400px;  overflow:auto; " >          
  <div class="table table-responsive"  >
   <p>Keywords</p>
   <p>contents</p>
   <p>Refference URL</p>
    <div id="res_row" >
    </div>
    
  </div>
</div>
     </center>
  </div>
  </div>


   

<script src="https://code.jquery.com/jquery-1.12.3.js"   integrity="sha256-1XMpEtA4eKXNNpXcJ1pmMPs8JV+nwLdEqwiJeCQEkyc="   crossorigin="anonymous"></script>

<script type="text/javascript">
  

// Function to Retrieve Data using Wikipedia API Through Ajax  
function retrieve(keyword)
{
  // Wikipedia API URL
   var url="https://en.wikipedia.org/w/api.php";

  $.ajax({
             type:"GET",
             url:url,
             data:{action:"opensearch",format:"json",search:keyword},
             dataType:"jsonp",
             success: function (data)
                        {
                            var arr=data;
                            $("#showdata").show();
                            $("#res_row").empty();
                            $("#res_row").append("<div>");
                              console.log(arr[1][1]);
                            for (i=1;i<arr[1].length;i++)
                                    {
                                        $("#res_row").append("<div><div class='well'><a href="+arr[3][i]+"><h2>" + arr[1][i]+ "</h2>" + "<p>" + arr[2][i] + "</p></a></div></div>");
                                   }

                            $("#res_row").append("</tr>");
                        },
              error: function (error) 
                        {
                            alert(JSON.stringify(error));
                        }
                         
                          });

 }
 
function search()
{
  var fetch= $("#fetch").val();
  retrieve (fetch);
 }


function isURL(str)
 {
     var regex = /(http|https):\/\/(\w+:{0,1}\w*)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%!\-\/]))?/;
      if(!regex .test(str))
       {
          return false;
       } 
      else
       {
        return true;
       }
}
</script>

</body>
</html>