<!DOCTYPE html>
<html lang="fr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Acceuil</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/modern-business.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="index.html">Pense le monde</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">


            <li class="nav-item">
              <a class="nav-link" href="index.php">Accueil</a>
            </li>

            <?php
                if (isset($_SESSION['pseudo']) OR (isset($_COOKIE['pseudo'])))
                { 
                if ((isset($_SESSION['pseudo']) && $_SESSION['pseudo'] !== 'admin') OR (isset($_COOKIE['pseudo']) && $_COOKIE['pseudo'] !== 'admin'))
                {        
                ?>
            <li class="nav-item">
              <a class="nav-link" href="index.php?action=useraccess">Profile</a>
            </li>
                <?php
                }
                } 
                ?>


                <?php
                if ((isset($_COOKIE['pseudo'])) && ($_COOKIE['pseudo'] == 'admin') OR (isset($_SESSION['pseudo'])) && ($_SESSION['pseudo'] == 'admin'))
                {          
                ?>
            <li class="nav-item">
              <a class="nav-link" href="index.php?action=adminaccess">Back office</a>
            </li>
                <?php
                }
                ?>



                <li class="nav-item">
                    <?php
                    if (isset($_SESSION['pseudo']) OR (isset($_COOKIE['pseudo'])))
                    {      
                    ?>
                    <a class="nav-link" href="index.php?action=deconexion">Se deconnecter</a>
                    <?php
                    }else{
                    ?>                    
                    <a class="nav-link" href="view/frontend/loginView.php">S'identifier</a>
                    <?php
                    } 
                    ?>
                </li>

                <ul>
                    Bonjour <?php
                    if (isset($_COOKIE['pseudo'])){
                      echo $_COOKIE['pseudo'];
                    }elseif (isset($_SESSION['pseudo'])){
                      echo $_SESSION['pseudo'];
                    }  
                    ?> 
                </ul>

            
            
          </ul>
        </div>
      </div>
    </nav>
    <div>      
    <?= $content ?>
    </div>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>